* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    background-color: #D0D0D0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text1 {
    color: #006666;
    font-size: 50px;
}

.text2 {
    color: #707070;
    font-size: 35px;
}

.text3 {
    color: #006666;
    font-size: 45px;
}

.calculator {
    margin-right: 50px;
    display: grid;
    border: 1px solid ivory;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: inset 5px 5px 12px #ffffff,
        5px 5px 122px rgba(0, 0, 0, .30);
}

input {
    height: 70px;
    width: 280px;
    margin: 60px 30px 30px 30px;
    padding: 20px;
    background-color: #ecf0f3;
    font-size: 35px;
    text-align: end;
    color: #008080;
    border: none;
    border-radius: 50px;
    box-shadow: inset -5px -5px 12px #ffffff,
        inset 5px 5px 12px rgba(0, 0, 0, .1);
}

::placeholder {
    color: #008080;
}

.buttondiv {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin: 0px 30px 50px 30px;
    padding-left: 10px;
    background-color: #ecf0f3;
}

button {
    height: 50px;
    width: 50px;
    padding: 5px;
    font-size: 20px;
    color: #707070;
    background-color: #ecf0f3;
    cursor: pointer;
    border: none;
    border-radius: 40%;
    box-shadow: inset 5px 5px 12px #ffffff,
        5px 5px 122px rgba(0, 0, 0, .16);
}

#equalbutton {
    grid-column: span 2;
    width: 120px;
    margin-left: 5px;
    border-radius: 40px;
    box-shadow: none;
    color: ivory;
    background-color: #008080;
}